// Microsoft Visual C++ generated resource script.
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// （可选）文件版本资源
/////////////////////////////////////////////////////////////////////////////
